- content_for(:title) {t('search_results', query_words: @query_words, hits: @hits)} if @results
%div{:class => 'container'}

  = partial 'authors_drilldown'

  %div{:class => 'page-header'}
    %h1= t'search_results', query_words: @query_words, hits: @hits if @results
    %p{:class => 'filtered-by'}= t 'filtered_by_authors', authors: @authors.join(',') unless @authors.empty?

  = partial 'form_search'

  %div{:class => 'row'}
    %div{:class => 'col-md-2'}
    %div{:class => 'col-md-8'}
      %ul{:class => 'media-list'}
        = partial 'result', :collection => @results if @results
    %div{:class => 'col-md-2'}
